.block-collector-systems-tab{
  display: flex;
  flex-direction: row;
  gap: 40px;
  background: #f1f1f1;
  padding: 20px 40px;
}
.block-collector-systems-tab button.active img.icon{

  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);

}


.block-collector-systems-tab button img.icon{
  object-fit: contain;
  height: 40px;
  background: none !important;
  display:  block !important;
  position: relative;
}

.block-collector-systems-tab button{
width: 40px;
height: 90px;
gap: 20px;
display: flex;
flex-direction: column;
align-items: center;
border: none;
background: none !important;
color: #000 !important;
}
