.row-carousel-and-details{
    display: flex;
    flex-direction: row;
    @media(min-width: 992px){
        &>div:first-child{
            padding-right: 15px;
        
        }
        &>div:last-child{
            padding-left: 15px;
        
        }
    }

}

.row-carousel-and-details  .thumb-carousel img{
    object-fit: contain;
}
