.location-popup-content {
  padding: 10px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  white-space: normal;
}
.location-popup-content .location-marker-icon{
  margin-right: 10px;
}

#azure-map-block{
  border: 1px solid #000;
  padding: 10px;
}
#azure-map-block #locateMeButton{
  padding: 10px 20px !important;
  text-align: center;
}
#azure-map-block .locate-me-icon{
  width: 30px;
}
