
    .custom-group-data {

        display: flex;
        /*border: 2px solid black;*/
        border-radius: 30px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 10px;
        width: 15%;
        background-color: white;
    }
    .custom-object-data {
        display: flex;
        /*border: 2px solid black;*/
        border-radius: 30px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 10px;
        width: 15%;
        background-color: white;
    }
    .custom-collection-data {
        display: flex;
        /*border: 2px solid black;*/
        border-radius: 30px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 10px;
        width: 15%;
        background-color: white;
    }
    .custom-exhibition-data {
        display: flex;
        /*border: 2px solid black;*/
        border-radius: 30px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 10px;
        width: 15%;
        background-color: white;
    }
    .custom-artist-data {
        display: flex;
        /*border: 2px solid black;*/
        border-radius: 30px;
        flex-direction: column;
        justify-content: start;
        margin: 10px;
        align-items: center;
        width: 15%;
        background-color: white;
    }
    .wrapper{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #C0C0C0;
    }
    .custom-button-container {
        display: flex;
        justify-content: start;
        text-align: center;
        margin-top: 20px;
        gap: 30px;
        align-items: center;
    }
    .custom-image-save {
        display: flex;
        /*border: 2px solid black;*/
        border-radius: 30px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 10px;
        width: 15%;
        background-color: white;
    }
    .db-save{
        display: flex;
        /*border: 2px solid black;*/
        border-radius: 30px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 10px;
        width: 15%;
        background-color: white;
    }
     .main-heading{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2px;
    }
    .button-styling{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #C0C0C0;
    }
    h1::selection{
        color: white;
        background-color: black;
    }
    #custom-database-save{
        padding: 10px 20px;
        background-color: black;
        color: #fff;
        border: none;
        margin: 3px;
        border-radius: 30px;
        cursor: pointer;
    }

    #custom-object-database-save{
        padding: 10px 20px;
        background-color: black;
        color: #fff;
        border: none;
        margin: 3px;
        border-radius: 30px;
        cursor: pointer;
    }

    #custom-object-directory-save{
        padding: 10px 20px;
        background-color: black;
        color: #fff;
        border: none;
        margin: 3px;
        border-radius: 30px;
        cursor: pointer;
    }

    #custom-directory-save{
        padding: 10px 20px;
        background-color: black;
        color: #fff;
        border: none;
        border-radius: 30px;
        margin: 3px;
        cursor: pointer;
    }

    #custom-directory-save:hover {
        background-color: #454545;
    }

    #custom-database-save:hover {
        background-color: #454545;
    }

    #custom-object-database-save:hover {
        background-color: #454545;
    }

    #custom-object-directory-save:hover {
        background-color: #454545;
    }

    .btn-dark {
        padding: 10px 20px;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-dark:hover {
        background-color: #2c2b2b;
    }


    #create-image-list-button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #create-image-list-button:hover {
        background-color: #0056b3;
    }

     #create-image-detail-button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #create-image-detail-button:hover {
        background-color: #0056b3;
    }

    #fetch-exhibition-button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #fetch-exhibition-button:hover {
        background-color: #0056b3;
    }
     #fetch-collection-button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #fetch-collection-button:hover {
        background-color: #0056b3;
    }
    #fetch-group-button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #fetch-group-button:hover {
        background-color: #0056b3;
    }

    #sync {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #sync:hover {
        background-color: #0056b3;
    }
    .loading-class{
        display: flex;
        justify-content: center;
        align-Items: center;
    }
    .loading-indicator {
        width:100px;
        height:100px;
        border-radius:50%;
        padding:1px;
        background:conic-gradient(#0000 10%,#575763) content-box;
        -webkit-mask:
        repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
        radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 calc(100% - 8px));
        -webkit-mask-composite: destination-in;
        mask-composite: intersect;
        animation:s4 1s infinite steps(10);
    }
    .loading-indicator-image {
        width:100px;
        height:100px;
        border-radius:50%;
        padding:1px;
        background:conic-gradient(#0000 10%,#575763) content-box;
        -webkit-mask:
        repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
        radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 calc(100% - 8px));
        -webkit-mask-composite: destination-in;
        mask-composite: intersect;
        animation:s4 1s infinite steps(10);
    }
    .loading-indicator-image-object {
        width:100px;
        height:100px;
        border-radius:50%;
        padding:1px;
        background:conic-gradient(#0000 10%,#575763) content-box;
        -webkit-mask:
        repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
        radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 calc(100% - 8px));
        -webkit-mask-composite: destination-in;
        mask-composite: intersect;
        animation:s4 1s infinite steps(10);
    }
    @keyframes s4 {to{transform: rotate(1turn)}}

    .count-wrapper .count-data{
      display: none;

    }


    /*lds-dual-ring spinner start*/
    .lds-dual-ring {
      display: inline-block;
      width: 80px;
      height: 80px;
    }
    .lds-dual-ring:after {
      content: " ";
      display: block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid #000;
      border-color: #000 transparent #000 transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    /*lds-dual-ring spinner end*/
