
<h2>Database Sync Menu</h2>

<p>Use this menu to copy your collection information into your websites MySQL database.</p>
<p>Use "Reset and Create Dataset" when you add new fields. This will delete your current dataset and re-create it with the new data.
</br>
Use "Update Dataset" when you have added/updated  Objects, Artists, Collections, Exhibitions, or Groups. This will update the existing database without rewriting it.
</p>

<br>

<h2>Data</h2>
         <!--Add the button element -->
    <!--<button id="create-image-list-button"></button>-->
    <div class="wrapper">

      <div class="custom-group-data">
          <label><h5>Groups </h5></label>
            <div class="count-wrapper">
              <div class="lds-dual-ring spinner"></div>
              <div class="count-data">
                <p id="response-data">DB Count: </b></p>
                <p id="response-data1">API Count: </b></p>
              </div>
            </div>

      </div>

      <div class="custom-object-data">
            <label><h5> Objects </h5></label>

          <div class="count-wrapper">
            <div class="lds-dual-ring spinner"></div>
            <div class="count-data">
              <p id="resp-data">DB Count: </p>
              <p id="resp-data1">API Count: </p>
            </div>
          </div>

        </div>

        <div class="custom-collection-data">
            <label><h5> Collections </h5></label>

              <div class="count-wrapper">
                <div class="lds-dual-ring spinner"></div>
                <div class="count-data">
                  <p id="resp-data2">DB Count: </p>
                  <p id="resp-data3">API Count: </p>
                </div>
              </div>
        </div>

        <div class="custom-exhibition-data">
            <label><h5>Exhibitions </h5></label>

              <div class="count-wrapper">
                <div class="lds-dual-ring spinner"></div>
                <div class="count-data">
                  <p id="resp-data4">DB Count: </p>
                  <p id="resp-data5">API Count: </p>
                </div>
              </div>
        </div>

        <div class="custom-artist-data">
            <label><h5>Artists </h5></label>

              <div class="count-wrapper">
                <div class="lds-dual-ring spinner"></div>
                <div class="count-data">
                  <p id="resp-data6">DB Count: </p>
                  <p id="resp-data7">API Count: </p>
                </div>
              </div>
        </div>
    </div>
    <div class="loading-class">
      <div class="loading-indicator"></div>
    </div>
    <div class="custom-button-container">
      <button id="btn-reset-and-create-dataset" class="dataset-btn btn btn-dark">Reset and Create Dataset</button>
      <div >Or</div>
      <button id="btn-update-dataset" class="dataset-btn btn btn-dark">Update Dataset</button>
    </div>

    {% if API_Synced_On is not empty and API_Synced_By is not empty %}
      <p class="last-synced-wrapper">Last synced on: {{API_Synced_On}} by {{API_Synced_By}}</p>
    {% endif %}



    <h2>Images</h2>

    <!---save other images -->
    <div class="section-save-other-images">
      <div class="loading-class">
        <div class="loading-indicator-image"></div>
      </div>
      <div class="main-heading">
          <h5>Save Other Images</h5>
      </div>
      <div class="button-styling" id="image-saved">

          <div class="custom-image-save">
              <button class="btn btn btn-dark" id="custom-directory-save">Directory</button>
          </div>



          <div style="display:flex;flex-direction: column;justify-content: center;align-items: center;margin: 10px;">
            <p>Or</p>
          </div>


          <div class="db-save">
              <button class="btn btn btn-dark" id="custom-database-save">Database</button>
          </div>
      </div>
    </div>


    <!---save object images -->
    <div class="loading-class">
        <div class="loading-indicator-image-object"></div>
    </div>

    <div class="main-heading">
        <h5>Save Object Images</h5>
    </div>
    <div class="button-styling" id="image-saved-object">

        <div class="custom-image-save">
            <button class="btn btn btn-dark" id="custom-object-directory-save">Directory</button>
        </div>


        <div style="display:flex;flex-direction: column;justify-content: center;align-items: center;margin: 10px;">
            <p>Or</p>
        </div>

        <div class="db-save">
            <button class="btn btn btn-dark" id="custom-object-database-save">Database</button>
        </div>
    </div>


    <div class="section-automatic-sync">
      <div class="main-heading">
        <h2>Automatic Sync</h2>
      </div>

      <p>The Automatic Sync updates your dataset. This will also include images in your preferred location.</p>

      {{ scheduled_date_and_time_information|raw }}

      <div class="wrapper-automatic-sync">
        {{ automatic_sync_settings_form }}
      </div>

      <h5 class="help-text strong">For automatic sync to work properly in the background:</h5>
      <li>The Drupal cron must be triggered frequently. Recommended atleast every 3 min. <br>
      You can trigger the cron in every 3 min interval using third party service like <a target="_blank" href="https://www.easycron.com/">Easy Cron</a> or your server <a target="_blank" href="https://www.geeksforgeeks.org/crontab-in-linux-with-examples/">Crontab </a>.</li>
      <li>Also please ensure the php "max_execution_time" is set to atleast 180 seconds in your server so that it can process enough items in a single cron run.</li>
      <li> Every time the Drupal cron runs, the queued items are processed in the background.</li>
    </div>










