<div class="custom-tabs-wrapper">
  <button name="gallery-mode-button" mode="gallery" class="active gallery "><img class="icon" src="{{ module_path ~'/images/gallery.svg' }}
">Gallery</button>
  <button name="map-mode-button" mode="map" class="map">
  <img  class="icon"  src="{{ module_path ~'/images/map-marker.svg' }}
">Map</button>
</div>
