{#
/**
 * @file
 * Bartik's theme implementation for a search form block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values, including:
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - content_attributes: A list of HTML attributes applied to the main content
 * - attributes: A list HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template. Includes:
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 * @see search_preprocess_block()
 */
#}

{# Get the current path #}
{% set current_path = path('<current>') %}

  {# Get the value of 'dataId' from the query parameters #}
  {% set dataId = app.request.query.get('dataId') is not null ? app.request.query.get('dataId') : '' %}

  {# Extract the pagename from the current path #}
  {% set pagename = current_path | split('/') | last %}

  {% if pagename in ['objects', 'artists', 'exhibitions', 'groups', 'collections', 'artobject-detail', 'artist-detail', 'exhibition-detail', 'group-detail', 'collection-detail'] %}

    <div class="nav-item nav-link me-0 mt-md-2">
      {# <form class="search-form" onsubmit="return chksearchfordata('<?php echo $pagename; ?>');">
          <input id="searchindata" type="search" class="expand-search" autocomplete="off" name="" value="<?php echo $qSearch; ?>" placeholder="Search...">
              <span id="clearInputText" class="clear-search" onclick="return clearSearchData('<?php echo $pagename; ?>');" >&times;</span>
          </input>
      </form> #}
      <form class="search-form" onsubmit="return chksearchfordata('{{ pagename }}');">
        <input id="searchindata" type="search" class="expand-search" autocomplete="off" name="" value="{{ qSearch }}" placeholder="Search...">
        <span id="clearInputText" class="clear-search" onclick="return clearSearchData('{{ pagename }}');">&times;</span>
      </form>

    </div>
  {% endif %}
