<div>
  {{ response|raw  }}
</div>
{% if show_field_labels %}
  <div>Show Field Labels on Detail: Yes</div>
{% endif %}
{% if enable_zoom %}
  <div>Enable Zoom for Images: Yes</div>
{% endif %}
{% if filter_keywords %}
  <div>Filter Images By Keywords: {{ filter_keywords }}</div>
{% endif %}
<div>Items Per Page: {{ items_per_page }}</div>
<div>{{ footer_text }}</div>
