/********** Template CSS **********/
:root {
    --primary: #06BBCC;
    --light: #F0FBFC;
    --dark: #181d38;
}
img{
  max-width: 100%;
}
body
{
    position: relative;
    min-height: 100vh;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 38px;
    height: 38px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
    box-shadow: none;
}

.navbar-light .menu .menu-item {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
    font-weight: 500;
}
.navbar-light .menu{
    list-style-type: none;
    display: flex;
    margin-bottom: 0px;
}
.navbar-light .menu-item a:focus{
  color: rgba(0, 0, 0, 0.7);
}
.navbar-expand-lg .navbar-collapse{
    justify-content: end;
}
.navbar-light .menu .menu-item:hover,
.navbar-light .menu .menu-item.active {
    color: rgba(0, 0, 0, 0.9);

}
#block-homepageimage img{
    width: 100%;
    height: 100%;
    margin-top: 58%;
}
@media (max-width: 991.98px) {
    .navbar-light .menu .menu-item  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .menu {
        border-top: 1px solid #EEEEEE;
    }

    .footer-menu{
        margin-top:15px;
    }
}

.navbar-light .navbar-brand {
    height: 70px;
}

.navbar-light a.btn {
    height: 75px;
}

.navbar-light .menu .menu-item {
    color: #1B1D1F;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}
header nav.sticky-top{
  z-index: 2;
}
body  main{
  min-height: 80vh;
}
@media (min-width: 992px) {
    .navbar .menu-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .menu-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
	font-size:30px;
   /* text-transform: uppercase;*/
}
.section-title h1{
    position: relative;
    display: inline-block;
	font-size:50px;
   /* text-transform: uppercase;*/
}
.section-title::before {
    position: absolute;
    content: "";
   /* width: calc(100% + 80px);*/
    height: 2px;
    top: 4px;
    left: -40px;
   /* background: var(--primary);*/
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
  /*  width: calc(100% + 120px);*/
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
  /*  width: calc(100% + 40px);
    left: 0;*/
}

.section-title.text-start::after {
   /* width: calc(100% + 60px);*/
    left: 0;
}


/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


h4 > a, h5 a, h6 a
{
    color:#1B1D1F;
}

a:hover h4, a:hover h5, a:hover h6 {
    text-decoration: none;
}

.font-normal {
    font-weight: normal;
}

.cs-page-title
{
    text-align: left;
    font-weight:normal;
}

.cs-shadow
{
    box-shadow: 1px 2px 10px 1px gray;
}

.cs-shadow:focus{
    box-shadow: 1px 2px 10px 1px gray;
    border:none;
    background-color: transparent;
}

/* .cs-shadow i.bi-arrow-up {
    transition: top ease 0.5s;
    position: fixed;
    right: 54px;
    bottom: 96px;
    z-index: 99;
}

.cs-shadow:hover i.bi-arrow-up {
    bottom: 99px;
} */

.cs-shadow i.bi-arrow-up {
    transition: top ease 0.5s;
    position: relative;
    z-index: 99;
    top:0;
}

.cs-shadow:hover i.bi-arrow-up {
    top: -3px;
}

.card-img-top {
    width:auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.artists-container > .card, .collections-container > .card, .exhibitions-container > .card, .objects-container > .card,
 .artist-objects-container > .card, .collection-objects-container > .card, .exhibition-objects-container > .card {
    flex: 1 0 auto;
}

.artists-container .card-body, .collections-container .card-body, .exhibitions-container .card-body, .objects-container .card,
.artist-objects-container .card-body, .collection-objects-container .card-body, .exhibition-objects-container .card-body {
    justify-content: center;
}

/* .objects-container .card-img-top, .artist-objects-container .card-img-top {
    width: auto;
} */

/* .card-body {
    position: absolute;
    bottom: -3vh;
  } */

   @media screen and (min-width: 900px)
  {
     .card {
    padding-right: 2vw;
    padding-left: 2vw;
    }
  }

.card {
    border:none;
}

.card-footer {
    border:none;
    background:none;
}

.card-title {
 display: block;
}

.card a:hover
{
    text-decoration: none;
}

.card-footer h4:hover, .card-footer h6:hover
{
    text-decoration: underline;
}

.card-footer h6.cs-theme-grid-field, .card-footer h6.cs-theme-grid-field:hover {
    text-decoration: none;
}

/*** this will change first item's font size on object detail page ***/
.cs-object-details p:first-child {
    font-size: 2.5rem;
    margin-bottom: 1rem !important;
}

/*** this will change first item's font size on object list page ***/
.cs-object-list > .card-footer h6:first-child small {
    font-size: 1rem;
    margin-bottom: 1rem !important;
}


/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/

.footer {
position: relative;
width: 100%;
padding-top: 1.2rem;
padding-bottom: 1.2rem;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}


.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.view-more {
    text-align: center;
    margin: 20px 0;
}

.view-more:hover {
    opacity: 50%;
    text-decoration: underline;
  }

.carousel-indicators {
    justify-content: start;
    margin-left: 0px;
    list-style: none;
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .carousel-indicators [data-bs-target]
  {
      width:unset;
      height:unset;
      margin: 5px;
      box-sizing: border-box;
  }
  .carousel-thumbs img {
    cursor: pointer;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
}

.carousel-item
{
    justify-content: center;
}

.carousel-item img {
	object-fit: cover;
}

.thumb-carousel .thumb
{
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-style: solid;
    border-color: rgb(240, 240, 240);
}

.thumb-carousel img:hover {
	opacity: 1;
}

.thumb-carousel img {
	opacity: 0.5;
	cursor: pointer;
}

.thumb-carousel .selected img {
	opacity: 1;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
   }

   .carousel-fade  .carousel-item.active,
   .carousel-fade  .carousel-item-next.carousel-item-left,
   .carousel-fade  .carousel-item-prev.carousel-item-right {
     opacity: 1;
   }

   /* .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-right {
    opacity: 0;
   } */


  @media (prefers-reduced-motion:reduce){.carousel-item{transition:none}}

  @media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
  }

  .thumb-carousel.carousel-inner .carousel-item.active,
  .thumb-carousel.carousel-inner .carousel-item-next,
  .thumb-carousel.carousel-inner .carousel-item-prev {
    display: flex;
  }

  /* medium and up screens */
  /* @media (min-width: 768px) {

    .thumb-carousel.carousel-inner .carousel-item-end.active,
    .thumb-carousel.carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }

    .thumb-carousel.carousel-inner .carousel-item-start.active,
    .thumb-carousel.carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
  } */



  .thumb-carousel.carousel-inner .carousel-item-end,
  .thumb-carousel.carousel-inner .carousel-item-start {
  transform: translateX(0);
  }



  .carousel-control-prev, .carousel-control-next{
      position: relative;
      width: auto;
  }

  .bi.bi-chevron-left, .bi.bi-chevron-right {
    font-size: x-large;
    color: #000000;
    font-weight: bolder;
  }

  .carousel-indicators::after {
    display: block;
    clear: both;
    content: "";
}

.sort-by-title
{
    padding-right: 3px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.sort-by-field
{
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}



.search-form .expand-search {
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: none;
    background-repeat: no-repeat;
    -webkit-transition: width .5s ease;
    transition:width .5s ease;
    background-image:url("https://cdn.collectorsystems.com/icons/search_black.svg");
    padding:5px;
    outline:none;
    padding-left: 25px;
    background-position: 0px 2px;
    background-size: 18px;
    cursor: pointer;
}
.search-block-form h2{
    display: none;
}
.search-form .form-actions .button{
    display: none;
}
.search-form .js-form-type-search input {
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: none;
    background-repeat: no-repeat;
    -webkit-transition: width .5s ease;
    transition:width .5s ease;
    background-image:url("https://cdn.collectorsystems.com/icons/search_black.svg");
    padding:5px;
    outline:none;
    padding-left: 25px;
    background-position: 0px 2px;
    background-size: 18px;
    cursor: pointer;
}
.search-form .js-form-type-search input:focus + .clear-search{
    opacity: 1;
}

.search-form .js-form-type-search input:not(:focus) + .clear-search{
    opacity: 0;
}

.search-form .js-form-type-search input:placeholder-shown + .clear-search{
    opacity: 0;
    pointer-events: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.search-form .js-form-type-search input:focus{
    background-color:#fff;
    color:black;
    width:160px;
    border-bottom: 1px solid #333;
    cursor: auto;
}

.search-form .js-form-type-search input::-webkit-input-placeholder {
display: none;
}

.search-form .js-form-type-search input:-moz-placeholder {
display: none;
}

.search-form .js-form-type-search input::-moz-placeholder {
display: none;
}
.search-form .js-form-type-search input:-ms-input-placeholder {
display: none;
}

.clear-search
{
    color: #1B1D1F;
    font-size: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 30px;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}
/*
.search-form .expand-search:focus + .clear-search{
    opacity: 1;
}

.search-form .expand-search:not(:focus) + .clear-search{
    opacity: 0;
}

.search-form .expand-search:placeholder-shown + .clear-search{
    opacity: 0;
    pointer-events: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.search-form .expand-search:focus{
    background-color:#fff;
    color:black;
    width:160px;
    border-bottom: 1px solid #333;
    cursor: auto;
}

.search-form .expand-search::-webkit-input-placeholder {
display: none;
}

.search-form .expand-search:-moz-placeholder {
display: none;
}

.search-form .expand-search::-moz-placeholder {
display: none;
}
.search-form .expand-search:-ms-input-placeholder {
display: none;
} */

@media (min-width: 1600px) {
    .container-xxl, .container {
        max-width: 1440px;
    }
}
@media (min-width: 1920px) {
    .container-xxl, .container {max-width: 1680px;}
    }

    @media (min-width: 2560px) {

    .container-xxl, .container {max-width: 1800px;}
}

    @media (min-width: 2880px) {
    .container-xxl, .container {
        max-width: 2560px;
    }
}



/* Extra CSS */

.pager .pager__items {
    clear:both;
    padding:20px 0;
    margin-top:20px;
    margin-bottom: calc(90px + 1.5vw);
    position:relative;
    line-height:13px;
    align-items: center;
    justify-content: center;
    grid-column-gap: calc(8px + 0.25vw);
    display: flex;
    list-style-type: none;
    }

    .pager .pager__items li .is-active, .pager .pager__items li a {
    display: block;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    width: auto;
    color: #1B1D1F;
    background: #fff;
    background: transparent;
    border: 1px solid;
    color: currentColor;
    display: inline-block;
    display: inline-flex;
    height: calc(32px + 1vw);
    padding: 0;
    width: calc(32px + 1vw);
    align-items: center;
    justify-content: center;
    }

    .pager .pager__items li a:hover{
    background-color: rgba(93,16,73,.1);
    outline-color: #5d1049;

    }

    .pager__item.is-active a {
        background: #000!important;
        color: #fff !important;
        padding: 6px 9px 5px 9px !important;
        /* padding: 0px; */
        /* margin: 0px; */
    }
.pager .pager__item--first,.pager .pager__item--last{
    display: none;
}
#block-collectorsystems-page-title h1.page-title{
    text-align: left;
    font-weight: normal !important;
}

.view-artists .field-content a{
    font-size: 1.25rem;
}
.view-groups .field-content a,.view-collections .field-content a,.view-exhibitions .field-content a{
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
}
.view-artists .field-content a:hover,.view-groups .field-content a:hover,.view-collections .field-content a:hover,.view-exhibitions .field-content a:hover{
   text-decoration: underline;
}

.view-artists .card .views-field-title,.view-groups .card .views-field-field-detaillargeurl,.view-collections .card .views-field-field-detaillargeurl,.view-exhibitions .card .views-field-field-detaillargeurl{
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.view-header h1 {
    font-weight: normal;
}
.view-header  {
   display: inline-flex;
   align-items: baseline;
}
.form-item-sort-bef-combine {
    display: flex;
    align-items: center;
    margin: 2.5rem 0;
}
.form-item-sort-bef-combine label{
    min-width:max-content;
    padding-right: 10px;
}
.view-filters{
    display: inline-flex;
    float: right;
}
@media(max-width:581px){
    .view-filters{
        float: left;
    }
    .views-view-grid .views-row{
        display: block;
    }
    .views-view-grid .views-col{
        width: 100% !important;
    }
}
/* @media(max-width:991px){
    .view-filters{
        float: right;
    }
    .views-view-grid .views-row{
        display: block;
    }
    .views-view-grid .views-col{
        width: calc()% !important;
    }
} */
.page-item{
    display: flex;
    justify-content: end;
    align-items: center;

}

#prevnext-previous {
	position: relative;
	display: block;
	color: #06BBCC;
	background-color: #fff;
	border: 1px solid #dee2e6;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
	#prevnext-previous {
		transition: none
	}
}

#prevnext-previous:hover {
	z-index: 2;
	color: #0596a3;
	background-color: #e9ecef;
	border-color: #dee2e6
}

#prevnext-previous:focus {
	z-index: 3;
	color: #0596a3;
	background-color: #e9ecef;
	outline: 0;
	box-shadow: 0 0 0 .25rem rgba(6, 187, 204, 0.25)
}

.page-item:not(:first-child) #prevnext-previous {
	margin-left: -1px
}

.page-item.active #prevnext-previous {
	z-index: 3;
	color: #fff;
	background-color: #06BBCC;
	border-color: #06BBCC
}

.page-item.disabled #prevnext-previous {
	color: #6c757d;
	pointer-events: none;
	background-color: #fff;
	border-color: #dee2e6
}

#prevnext-previous {
	padding: .375rem .75rem
}

.page-item:first-child #prevnext-previous {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px
}

.page-item:last-child #prevnext-previous {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px
}

.pagination-lg #prevnext-previous {
	padding: .75rem 1.5rem;
	font-size: 1.25rem
}

.pagination-lg .page-item:first-child #prevnext-previous {
	border-top-left-radius: .3rem;
	border-bottom-left-radius: .3rem
}

.pagination-lg .page-item:last-child #prevnext-previous {
	border-top-right-radius: .3rem;
	border-bottom-right-radius: .3rem
}

.pagination-sm #prevnext-previous {
	padding: .25rem .5rem;
	font-size: .875rem
}

.pagination-sm .page-item:first-child #prevnext-previous {
	border-top-left-radius: .2rem;
	border-bottom-left-radius: .2rem
}

.pagination-sm .page-item:last-child #prevnext-previous {
	border-top-right-radius: .2rem;
	border-bottom-right-radius: .2rem
}
#prevnext-next {
	position: relative;
	display: block;
	color: #06BBCC;
	background-color: #fff;
	border: 1px solid #dee2e6;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
	#prevnext-next {
		transition: none
	}
}

#prevnext-next:hover {
	z-index: 2;
	color: #0596a3;
	background-color: #e9ecef;
	border-color: #dee2e6
}

#prevnext-next:focus {
	z-index: 3;
	color: #0596a3;
	background-color: #e9ecef;
	outline: 0;
	box-shadow: 0 0 0 .25rem rgba(6, 187, 204, 0.25)
}

.page-item:not(:first-child) #prevnext-next {
	margin-left: -1px
}

.page-item.active #prevnext-next {
	z-index: 3;
	color: #fff;
	background-color: #06BBCC;
	border-color: #06BBCC
}

.page-item.disabled #prevnext-next {
	color: #6c757d;
	pointer-events: none;
	background-color: #fff;
	border-color: #dee2e6
}

#prevnext-next {
	padding: .375rem .75rem
}

.page-item:first-child #prevnext-next {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px
}

.page-item:last-child #prevnext-next {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px
}

.pagination-lg #prevnext-next {
	padding: .75rem 1.5rem;
	font-size: 1.25rem
}

.pagination-lg .page-item:first-child #prevnext-next {
	border-top-left-radius: .3rem;
	border-bottom-left-radius: .3rem
}

.pagination-lg .page-item:last-child #prevnext-next {
	border-top-right-radius: .3rem;
	border-bottom-right-radius: .3rem
}

.pagination-sm #prevnext-next {
	padding: .25rem .5rem;
	font-size: .875rem
}

.pagination-sm .page-item:first-child #prevnext-next {
	border-top-left-radius: .2rem;
	border-bottom-left-radius: .2rem
}

.pagination-sm .page-item:last-child #prevnext-next {
	border-top-right-radius: .2rem;
	border-bottom-right-radius: .2rem
}

.home-page-banner img{
  max-width: 100%;
}
ul.tabs.primary {
  display: flex;
  grid-gap: 20px;
  list-style: none;
}
ul.tabs.primary li a{
  display: block;
  padding: 5px 40px;
  background: #ccc;
  text-decoration: none;
}
ul.tabs.primary li a.is-active{
  background: #000;
  color: #fff;
}
