.form-fields-wrapper{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 40px;
}
select#select-field1, select#select-field2{
  height: 500px;
  min-width: 400px;

}
.form-item__label{
  font-size: 20px !important;
  margin-bottom: 20px !important;
  display: block !important;

}
select#select-field1 option, select#select-field2 option{
  padding: 15px 5px;
}
.move-buttons{
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
  text-transform: uppercase;
}
.move-buttons i{
  font-size: 32px;
  margin-left: 20px;
}
.move-buttons a{
  display: flex;
  align-items: center;
}

.sort-buttons{
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
  text-transform: uppercase;
}
.sort-buttons a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sort-buttons i{
  font-size: 24px;
}
